{% extends "base.html" %} {% block content %}

<div class="container mt-3 d-flex justify-content-around">
  <ul class="nav">
    {% for cat in cats %}
    <li class="nav-item">
      <a class="nav-link" href="/blog/categories/{{cat.id}}">{{ cat }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="container-sm d-flex align-items-end flex-row-reverse">
  <button class="btn btn-outline-primary btn-sm">
    <a href="/blog/new">New post</a>
  </button>
  <button class="btn btn-outline-primary btn-sm">
    <a href="/blog/categories">New category</a>
  </button>
</div>
{% for blog in blogs%}
<div
  class="container-sm border border-secondary"
  style="margin: 20px auto; border-radius: 30px"
>
  <center>
    <div class="container-sm">
      <h4><a href="{{ blog.id }}">{{ blog.title }}</a></h4>
      <p class="text-start fs-4">{{ blog.content }}</p>
    </div>
  </center>
  <div class="container-sm d-flex align-items-end flex-column">
    <p class="fs-6 fw-lighter" style="margin: 0">Posted by: {{ blog.user }}</p>
    <p class="fs-6 fw-lighter" style="margin: 0">
      Posted on: {{ blog.create_on }}
    </p>
    <p class="fs-6 fw-lighter" style="margin: 0">Tags: {{ blog.tags }}</p>
  </div>
</div>
{% endfor %}
<div class="pagination justify-content-center">
  <span>
    {% if blogs.has_previous %}
    <a href="?page={{ blogs.previous_page_number }}">previous</a>
    {% endif %}

    <span> Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}. </span>

    {% if blogs.has_next %}
    <a href="?page={{ blogs.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endblock %}
