{% extends "base.html" %} {% block content %}
<div class="mb-3 container-sm">
  <h4>New post</h4>
  <form method="POST">
    {% csrf_token %}
    <label for="title" class="form-label">Title</label>
    <input
      class="form-control"
      type="text"
      name="title"
      id="title"
      placeholder="Input title"
      required
    />

    <label for="content" class="form-label">Content</label>
    <textarea
      class="form-control"
      type="text"
      name="content"
      id="content"
      placeholder="Input content"
    ></textarea>

    <label for="category" class="form-label">Category</label>
    <select class="form-select" name="category" id="category">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>

    <label for="private" class="form-label">Private</label>
    <input type="checkbox" id="private" checked="true" /><br />
    <select class="form-select" name="tag" id="tag" multiple>

    <label for="tag">Tags</label>
      {% for tag in all_tags %}
      <option value="{{ tag.id }}">{{ tag.name }}</option>
      {% endfor %}
    </select>
    <a href="/blog/tags">Add tag</a>
    <center>
      <input
        class="btn btn-outline-primary btn-sm"
        style="margin-top: 20px"
        type="submit"
      />
    </center>
  </form>
</div>

{% endblock %}
